*{
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.card{

    width: 90%;
    max-width: 500px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: white;
    margin: 5em;
    padding: 3rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(241, 238, 238) 5px .5rem;


}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 40px;
    font-size: 18px;
    margin-right: 15px;
    color: rgba(14, 134, 233, 0.679);
    flex: 1;
} 

.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-color: #5b548a;
}

.search button img{

    width: 20px;
}

#weather-icon{
    width: 180px;
    margin-top: 30px;
}
.weather h1{
    font-size: 40px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 20px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
   

}

.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{

    font-size: 30px;
    margin-top: -8px;
}
@media screen and (max-width: 600px){

    h1,h2{
        font-size: 20px;
        font-weight: 300;

    }
    .search input{
        font-size: 10px;
        width: 100px;
    }
    
.search button img{

    width: 8px;
}
.search button{
    width: 30px;
    height: 30px;
}
.humidity, .wind{

   display: block;
}
.details{
    display: inline;
    margin-bottom: 4em;
}

    
}